.tab-pane {
    -fx-tab-min-height: 2.91666375em; /* 34 */
    -fx-tab-max-height: 2.91666375em; /* 34 */
}

.tab-pane > .tab-header-area {
    -fx-padding: 0 0.166667em 0em 0.416667em; /* 0 2 0 5 */
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: transparent, transparent, transparent;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.083333em 1.5em 0em 1.5em; /* 1 18 0.99 18 */
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
	-fx-border-radius: 9px;
    -fx-background-radius: 9px;
    -fx-background-color: transparent, transparent, #4c4c4c;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill: white;
    -fx-font-size: 1em; /* 12 */
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover > .tab-container > .tab-label {
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:hover > .tab-container > .tab-label {
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:
            transparent,
            transparent,
            #3c3c3c;
    -fx-background-insets: 1 1 0 1, 0 0 1 0, 1;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0, 0;
    -fx-border-color: transparent, transparent;
}

/* TabPane button to see more tabs (when space is constricted) */

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 4 0;
    -fx-padding: 4 8 9 8;
    -fx-background-radius: 0;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover {
    -fx-background-color: #000044;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:pressed {
    -fx-background-color: #0000aa;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow {
    -fx-padding: 0.083333em; /* 3px */
    -fx-scale-shape: false;
    -fx-shape: "M13.576,7.495c0,0.829-0.672,1.5-1.5,1.5c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5C12.904,5.995,13.576,6.667,13.576,7.495z M12.076,10.995c-0.828,0-1.5,0.672-1.5,1.5c0,0.829,0.672,1.5,1.5,1.5c0.828,0,1.5-0.672,1.5-1.5C13.576,11.667,12.904,10.995,12.076,10.995z M12.076,15.995c-0.828,0-1.5,0.672-1.5,1.5s0.672,1.5,1.5,1.5c0.828,0,1.5-0.672,1.5-1.5S12.904,15.995,12.076,15.995z";

    -fx-background-insets: 0;
    -fx-background-color: #0000ff;
}

