.label{
	-fx-text-fill:white;
}
.searchField{
	-fx-background-color: #2C2C2C;
    -fx-text-fill: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 4px 7px;
    -fx-prompt-text-fill: gray;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0 , 0 ,1);
}
.root{
	-fx-background-color: transparent;
}

